@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-darkText font-sans;
}

html {
  scroll-behavior: smooth;
}

* {
  transition-property:
    color, background-color, border-color, transform, opacity, box-shadow;

  transition-duration: 200ms;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  .calendar-mobile .fc {
    font-size: 12px;
  }

  .calendar-mobile .fc-toolbar {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .calendar-mobile .fc-toolbar-title {
    font-size: 1rem !important;
    font-weight: 700;
  }

  .calendar-mobile .fc-button {
    padding: 6px 10px !important;
    font-size: 12px !important;
    border-radius: 10px !important;
  }
}
